@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: #050917;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #050917;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #050917;
}


#sponsors_page{
  overflow: hidden;
}

/* WebKit browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #333; /* You can set the color of the scrollbar thumb */
}

/* Firefox and other browsers that support standard scrollbar width */
* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar-thumb {
  background-color: #333; /* You can set the color of the scrollbar thumb */
}
